.hero{
   width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/Images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.here-text{
    text-align: center;
    max-width: 800px;
}
.here-text h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.here-text p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
}

/* BUTTON */
.explore-btn {
  margin-top: 25px;
  padding: 12px 32px;
  background-color: #f1c40f; /* yellow */
  color: #2d6a4f;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}